{% extends "selling/base.html" %}
{% load static %}
{% block content %}
<div class="form-containers-container">
    <div class="registration-form-container">
        <form method="POST" id="post_form" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="colored-legend">Delete Post</legend>
                <p>Are you sure you want to delete the post "{{ object.title }}"</p>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-danger" type="submit" style="margin-left:0.75em;">Confirm</button>
                <a class="btn btn-outline-secondary cancel-button" href="{% url 'post-info' object.id %}">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}