{% extends "vendre/base.html" %}
{% load static %}
{% block content %}
<div class="form-containers-container">
    <div class="registration-form-container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="colored-legend">Entrez un nouveau mot de passe</legend>
                <p>Veuillez entrer votre nouveau mot de passe.</p>
                <label>Mot de passe::</label>
                <input type="password" name="new_password1" required id="id_new_password1" class="form-control mt-2 mb-3">
                <label>Confirmez votre mot de passe:</label>
                <input type="password" name="new_password2" required id="id_new_password2" class="form-control mt-2 mb-3">
            </fieldset>
            <div class="form-group">
                <button class="btn btn-danger navbar-sell-button submit-blue-button reset-button" type="submit">Confirmer la modification du mot de passe.</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}