{% extends "vendre/base.html" %}
{% load static %}
{% block content %}
<div class="container pt-5 pb-5">
    <h2>Utilisateurs les plus signalé</h2>
    <div class="ui divided items">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID de l'utilisateur (pk)</th>
              <th scope="col">Nombre de signalement</th>
                <th scope="col">Annuler les signalements</th>
            </tr>
          </thead>
          <tbody>
          {% for item in items.object_list %}
            <tr>
                <td><a href="{% url 'report-info-fr' pk=item.reported__author %}">{{ item.reported__author }}</a></td>
              <td>{{ item.count }}</td>
                <td><a class="red-link" href="{% url 'dismiss-report-fr' pk=item.reported__author %}">Effacer les signalement</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
    {% if num_results > 0 %}
    <div class="align-right">
      <nav>
          <ul class="pagination">
              {% if items.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ items.previous_page_number }}">Précédent</a></li>
              {% endif %}
              {% for pg in items.paginator.page_range %}
                {% if items.number == pg %}
                    <li class="page-item active"><a class="page-link" href="?page={{ pg }}">{{ pg }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ pg }}">{{ pg }}</a></li>
                {% endif %}
              {% endfor %}
              {% if items.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ items.next_page_number }}">Suivant</a></li>
              {% endif %}
        </ul>
      </nav>
    </div>
    {% endif %}
</div>
{% endblock content %}