{% extends "vendre/base.html" %}
{% load static %}
{% block content %}
<div class="form-containers-container">
    <div class="registration-form-container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="colored-legend">Courriel de réinitialisation envoyé</legend>
                <p>Nous vous avons envoyé par courriel des instructions pour définir votre mot de passe, si un compte existe avec le courriel que vous avez entré. Vous devriez les recevoir sous peu.</p>
                <p>Si vous ne recevez pas d'e-mail, assurez-vous d'avoir entré l'adresse avec laquelle vous vous êtes inscrit et vérifiez votre dossier de courrier indésirable.</p>
            </fieldset>
        </form>
    </div>
</div>
{% endblock content %}