
{% extends "vendre/base.html" %}
{% load static %}
{% block content %}
<div class="form-containers-container">
    <div class="registration-form-container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="colored-legend">Reinitialiser votre mot de passe</legend>
                <p>Vous avez oublié votre mot de passe? Entrer votre adresse courriel ci-dessous, et nous vous enverrons les instructions par courriel.</p>
                <label>Email:</label>
                <input type="email" name="email" required id="id_email" maxlength="254" class="form-control mt-2">
            </fieldset>
            <div class="form-group">
                <button class="btn btn-danger navbar-sell-button submit-blue-button reset-button" type="submit">Reinitialiser le mot de passe</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}