{% extends "vendre/base.html" %}
{% load static %}
{% block content %}
<div class="container mb-4">
    <h2 class="pt-4">Terms of Use</h2>
    <p>Les conditions d'utilisation et toutes les politiques publiées sur notre site Web sont les conditions générales que vous devez suivre lorsque vous accédez et utilisez notre site Web.</p>
    <h3>Compte</h3>
    <p>La création d'un compte est nécessaire pour accéder à certains services. Après avoir créé un compte, vous êtes responsable de la protection de votre mot de passe : nous n'assumerons aucune responsabilité pour les informations divulguées. De plus, votre courriel (obligatoire) et votre numéro de téléphone (non obligatoire) seront rendus publics si vous publiez sur notre site Web. Si vous pensez que votre compte peut avoir été compromis ou utilisé à mauvais escient, écrivez-nous à <a href="mailto:trouveteslivres@gmail.com">trouveteslivres@gmail.com</a></p>
    <h3>Il est interdit de:</h3>
    <p>
        1. Enfreindre des lois fédérales ou provinciales
        <br>2. Violer nos termes et conditons
        <br>3. Utiliser un language innaproprié
        <br>4. Répandre des rumeurs
        <br>5. Publier du spam, des doublons et/ou des annonces inappropriées (comme du contenu réservé aux adultes)
        <br>6. Harceler un revendeur
        <br>7. Utiliser les informations d'autres personnes à d'autres fins que la vente ou l'achat de livres
        <br>8. Appeler et/ou envoyer un courriel à un utilisateur sans aucune intention d'acheter/vendre ses livres
        <br>9. Créer plusieurs comptes différents
        <br>10. Recueillir les informations d'autres personnes
        <br>11. Utilisation de robots ou de programmes pour accéder et collecter du contenu
    </p>

    <p>Nous nous réservons le droit d' <strong>effacer ou de banir une publication ou un utilisateur</strong> qui brise une des règles ci-dessus.</p>

    <p><strong>Seul des livres peuvent être vendus.</strong> Tout élément jugé non pertinent sera supprimé et le compte recevra un avertissement ou sera supprimé.</p>

    <p class="mb-4"><strong>Nous ne sommes pas responsable des actions de nos utilisateurs.</strong> Si vous êtes témoin ds contenu innaproprié, veuillez le signaler à <a href="mailto:trouveteslivres@gmail.com">trouveteslivres@gmail.com</a>, et nous nous assurerons de régler le problème immédiatement.</p>

    <b>Confidentialité</b>

    <p>En utilisant notre site Web, vous acceptez que nous  <strong>stockions et affichions toutes les informations que vous nous fournissez</strong>, y compris le nom, l'adresse courriel et le numéro de téléphone (le cas échéant).</p>

    <p>De plus, TrouveTesLivres croit en la confidentialité des utilisateurs et nous voulons créer un espace sûr pour tous. Nous ne vendrons jamais vos renseignements personnels. Étant donné que nous utilisons Google Fonts et une plate-forme d'hébergement en ligne, ces services peuvent collecter vos données via notre site Web, telles que votre adresse IP, votre navigateur et le modèle de votre appareil..</p>

    <b>Âge</b>

    <p>Vous devez avoir <strong>16 ans et plus</strong> afin d'utiliser ce site Web pour des raisons de sécurité. Les parents et autres frères et sœurs sont invités à acheter et vendre les livres de leurs enfants s'ils ont moins de 16 ans.</p>

    <b>Contenu</b>

    <p>Le site est soumis à  <strong>des droits d'auteurs</strong> ,et il est interdit de le copier ou de le répliquer.</p>

    <b>Nous contacter</b>

    <p>Pour toute demande supplémentaire, veuillez nous envoyer un courriel à <a href="mailto:trouveteslivres@gmail.com">trouveteslivres@gmail.com.</a></p>

</div>
{% endblock content %}