{% extends "vendre/base.html" %}
{% load static %}
{% block content %}
<div class="form-containers-container">
    <div class="registration-form-container">
        <form method="POST" id="post_form" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="colored-legend">Supprimer la publication</legend>
                <p>Êtes-vous sur de vouloir supprimer l'annonce : "{{ object.title }}"</p>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-danger" type="submit" style="margin-left:0.75em;">Confirmer</button>
                <a class="btn btn-outline-secondary cancel-button" href="{% url 'post-info-fr' object.id %}">Annuler</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}