{% extends "vendre/base.html" %}
{% load static %}
{% block content %}

<div class="form-containers-container">
    <div class="registration-form-container">
        <form method="POST" id="post_form" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="colored-legend">Recherche</legend>

                {{ postForm.as_p }}

                {{ formset.management_form }}
                {% for form in formset %}
                    {{ form }}
                {% endfor %}
                <p>Adresse courriel: {{ user.email }}</p>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-danger form-submit-button" type="submit">Publier</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}