{% extends "selling/base.html" %}
{% load static %}
{% block content %}
<div class="form-containers-container">
    <div class="registration-form-container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="colored-legend">Enter new password</legend>
                <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                <label>Password:</label>
                <input type="password" name="new_password1" required id="id_new_password1" class="form-control mt-2 mb-3">
                <label>Confirm password:</label>
                <input type="password" name="new_password2" required id="id_new_password2" class="form-control mt-2 mb-3">
            </fieldset>
            <div class="form-group">
                <button class="btn btn-danger navbar-sell-button submit-blue-button reset-button" type="submit">Change my password</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}