{% extends "selling/base.html" %}
{% load static %}
{% block content %}
<div class="form-containers-container">
    <div class="registration-form-container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="colored-legend">Sign Up</legend>
                {{ form.as_p  }}
            </fieldset>
            <small class="text-muted submit-blue-button">By creating an account, you agree to our <a href="{% url 'terms-of-use' %}">Terms of Use</a></small>
            <div class="form-group">
                <button class="btn btn-danger navbar-sell-button submit-blue-button register-button" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="pt-3">
            <small class="text-muted submit-blue-button">Already have an account? <a href="{% url 'login' %}" class="px-2">Log In</a></small>
        </div>
    </div>
</div>
{% endblock content %}