<!DOCTYPE html>
{% extends "selling/base.html" %}
{% load static %}
{% block content %}
<div class="form-containers-container">
    <div class="registration-form-container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="colored-legend">Resend account activation email</legend>
                <p>Please make sure you check your spam folder.</p>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-danger navbar-sell-button submit-blue-button register-button" type="submit">Send again</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}