{% extends "selling/base.html" %}
{% load static %}
{% block content %}
<div class="container mb-4">
    <h2 class="pt-4">Terms of Use</h2>
    <p>The Term of Use and all policies posted on our website are the terms and conditions you must follow when you access and use our website.</p>
    <h3>Account</h3>
    <p>Creating an account is necessary to access certain services with your email address and a password. After creating an account, you are responsible to keep your password private: we will not assume any responsibility for leaked information. In addition, your email (required) and phone number (not required) will be made public if you post on our website. If you believe your Account may have been compromised or misused, contact us immediately at <a href="mailto:trouveteslivres@gmail.com">trouveteslivres@gmail.com</a></p>
    <h3>These actions are prohibited on our website:</h3>
    <p>
        1. Break canadian laws (provincial and/or federal)
        <br>2. Violate our terms and conditions
        <br>3. Use of swear words
        <br>4. Spread false/misleading information
        <br>5. Post spam, duplicate, and/or inappropriate (such as adult content) ad
        <br>6. Spam the seller’s email address and/or phone
        <br>7. Use other people’s information for anything other than selling/buying books
        <br>8. Calling and/or emailing a user without any intention of buying/selling their books
        <br>9. Create multiple accounts using different emails
        <br>10. Collect other people’s information
        <br>11. Use of automated robots or scrapers to access and collect content
    </p>

    <p>We reserve the right to <strong>remove/ban any post or account</strong> if we deem that any rule has been broken.</p>

    <p><strong>You may only sell books.</strong> Any items deemed irrelevant will be removed and the account will receive a warning or be removed.</p>

    <p class="mb-4"><strong>We are not responsible for our user’s actions.</strong> If you see something inappropriate, please report the user or send us an email at <a href="mailto:trouveteslivres@gmail.com">trouveteslivres@gmail.com</a>, and we will review the problem immediately.</p>

    <b>Privacy</b>

    <p>By using our website, you agree to let us <strong>store and display any information you give us</strong> including, name, email address, and phone number (if provided).</p>

    <p>Additionally, FindYourBooks believes in user privacy, and we want to create a safe space for all. We will never sell your personal information. Since we use Google Fonts and an online hosting platform, these services may collect your data via our website, such as your IP address, browser, and device model.</p>

    <b>Age</b>

    <p>You must be over <strong>16 years old</strong> to use this website for security reasons. Parents and other siblings are invited to buy and sell their children’s books if they are under the age of 16.</p>

    <b>Content</b>

    <p>You may not <strong>copy</strong> our website.</p>

    <b>Contact</b>

    <p>For additional inquiries, please email us at <a href="mailto:trouveteslivres@gmail.com">trouveteslivres@gmail.com.</a></p>

</div>
{% endblock content %}